<p>Users list:</p>

<% @users.each do |user| %>
    
    <div>
        <ol>
            <li>
                <div>-<a href="/users/<%= user['id'] %>"><%= user["name"] %></div>
            </li>
        </ol>
    </div>
   
<% end %>
