<div>
    <div>user: <%= @user["name"] %></div>
    <% if @user['photo'] == nil  %>
        <div>img :n/a</div>
    <% else %>
        <div> img: <img alt="zendesk pic"src="<%= @user["photo"]['url'] %>"></div>
    <% end %>
    <div>time-zone: <%= @user["time_zone"] %></div>
</div>