<table class="table" id="tickets_table" border="0" style="border-collapse:collapse;" cellspacing="0">
                <thead>
                    <tr>
                        <th class="displayed" class="can_be_sorted" id="id">
                           
                                <%= link_to({:controller => "tickets", :action => "index", :sort_by => 'id', remote:true}) do %>
                                    Ticket ID      
                                <% end %> 
                        </th>
                   
                        <th class="displayed" class="can_be_sorted" id="status">
                           <%= link_to({:controller => "tickets", :action => "index", :sort_by => 'status', remote:true}) do %>
                                Status   
                            <% end %>
                        </th>
                        <th class="display" id="title">Subject                                             
                        </th>
                        <th class="optional_display" class="can_be_sorted" id="created_at">
                            <%= link_to({:controller => "tickets", :action => "index", :sort_by => 'created_at', remote:true}) do %>
                                Created At    
                            <% end %>                           
                        </th>
                        <th class="optional_display" class="can_be_sorted" id="updated_at">
                            <%= link_to({:controller => "tickets", :action => "index", :sort_by => 'updated_at', remote:true}) do %>
                               Updated at   
                            <% end %>                           
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% @tickets.each do |ticket| %>
                        <tr>
                            <td class="displayed" id="id_data"><a href="/tickets/<%= ticket['id'] %>"><span><%= ticket['id']%></span><span class="status"></span></a></td>
                            <% if ticket['status'] == 'open' %>
                                <td class="displayed" id="status_data"><a href="/tickets/<%= ticket['id'] %>"><span><%= render partial: "common/openicon" %></span><span class="status"></span></a></td>
                            <% elsif ticket['status'] == 'solved' %>
                                <td class="displayed" id="status_data"><a href="/tickets/<%= ticket['id'] %>"><span><%= render partial: "common/solvedicon" %></span><span class="status"></span></a></td>
                            <% elsif ticket['status'] == 'pending' %>
                                <td class="displayed" id="status_data"><a href="/tickets/<%= ticket['id'] %>"><span><%= render partial: "common/pendingicon" %></span><span class="status"></span></a></td>
                            <% elsif ticket['status'] == 'new' %>
                                <td class="displayed" id="status_data"><a href="/tickets/<%= ticket['id'] %>"><span><%= render partial: "common/newicon" %></span><span class="status"></span></a></td>
                            <% else ticket['status'] == 'closed' %>
                                <td class="displayed" id="status_data"><a href="/tickets/<%= ticket['id'] %>"><span><%= render partial: "common/closedicon" %></span><span class="status"></span></a></td>
                            <% end %>
                            <td class="displayed" id="subject_data" >
                            <a href="/tickets/<%= ticket['id'] %>">
                            <% if ticket['priority'] %>
                                <span class="priority-<%= ticket['priority']%>">[<%=ticket['priority']%>]</span>
                            <%end%>
                                <%= ticket['subject'] %>
                            </a>
                            </td>
                                
                            <td class="optional_display" id="created_at_data" style="font-size:16px"><a href="/tickets/<%= ticket['id'] %>"><%= Date.parse(ticket['created_at']).strftime("%B %d %Y, %l:%M%P") %></a></td>
                            <td class="optional_display" id="updated_at_data" style="font-size:16px"><a href="/tickets/<%= ticket['id'] %>"><%= Date.parse(ticket['updated_at']).strftime("%B %d %Y, %l:%M%P") %></a></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            
        