<% if @error_message %>
    <div class="error-container"> 
        <img src="https://wallpaper-house.com/data/out/12/wallpaper2you_520368.jpg" alt="yellow face" style="width:80%;"> 
        <div class="error_message">
            <p>Oooops..... Something wrong here</P>
            <p class="error_message_header">Error: <%= @error_message %></p>
        </div>
    </div>
<% else %>
    
    <div id="list-container">
        <div> 
            
                <%= render partial: "common/statusfilter" %>
           
        </div>
        <div class="table-container">
            <div class="pagination-container" id="pagination-container-top">
                <%= render partial: "common/pagination" %>
            </div>

            <div id="list-table">
                <%= render "table" %>
            </div>
            
            <div class="pagination-container" id="pagination-container-bottom">
                <%= render partial: "common/pagination" %>
            </div>
        </div>
    </div>   
<% end %>

