$('#list-table').html('<%= escape_javascript(render("table")) %>');
$('#pagination-container-top').html('<%= escape_javascript(render partial:("common/pagination")) %>');
$('#pagination-container-bottom').html('<%= escape_javascript(render partial:("common/pagination")) %>');



