<% if @error_message %>
    <div class="error-container">
        <img src="https://wallpaper-house.com/data/out/12/wallpaper2you_520368.jpg" alt="yellow face" style="width:100%;">
        <div class="error_message">
            <p>Oooops..... Something wrong here</P>
            <p class="error_message_header">Error: <%= @error_message %></p>
        </div>
<% else %>
    <div id="breadcrumb">
        <p>
        <a href="/tickets">Tickets List</a></li>
        <span>NO.<%= @ticket['id'] %> Details</span>
        </p>
    </div>
    <div id="body-show">
        <div class="ticket-container">
            <div class="ticket-displayed">  
                <h3>Subject： <%= @ticket['subject'] %></h3>
                <% if !!@ticket['type'] %>
                    <p class="requester-info">Ticket type: <%= @ticket['type'] %> | 
                                                Requester: <a href="/users/<%= @user['id'] %>"><%= @user["name"] %> (<%= @user["email"] %>)| 
                                                Updated at:</b> <%= Date.parse(@ticket['updated_at']).strftime("%B %d %Y, %l:%M%P") %></li></p>
                <% else %>
                <p class="requester-info">Ticket type: <%= @ticket['type'] = '-' %> | Requester: <%= @ticket['requester_id'] %> | Updated at:</b> <%= Date.parse(@ticket['updated_at']).strftime("%B %d %Y, %l:%M%P") %></li></p>
                <% end %>
                <hr>
                <ul>         
                    <li>
                        <div>
                            <p><b>Description: </b></p>
                            <p><%= @ticket['description'] %></p>
                        </div>
                    </li>
                    <li><b>Link: </b> <%= @ticket['url'] %></li>
                    <li><b>Status: </b><%= @ticket['status'] %></li>
                    <li><b>Priority: </b><%= @ticket['priority'] %></li>
                    <li><b>Created at: </b><%= Date.parse(@ticket['created_at']).strftime("%B %d %Y, %l:%M%P") %></li>
                    <li><b>Updated at: </b><%= Date.parse(@ticket['updated_at']).strftime("%B %d %Y, %l:%M%P") %></li>    
                </ul>
            </div>
        </div>
        <button class="back-Btn"><a href="/tickets">Back to List</a></button>
        <hr>
        <div class="comments-container">
            <p><b>Comments:</b></p> 
            
        </div>
    </div>    
<% end %>
