$(document).ready(function() {
    $('.table-container').on('click', '.page-link', function(e){
        $('#list-table').html('<image src="<%= asset_path('loading.gif') %>" alt="Loading....."></image>');
    });
});


$(document).ready(function() {
     $('.table-container').on('click', '#id, #status, #created_at, #updated_at', function(e){
        $('#list-table').html('<image src="<%= asset_path('loading.gif') %>" alt="Loading....."></image>');
    });
});
