* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    color: rgb(95, 93, 93);
}
h1,
h2,
h3,
h4,
p,
blockquote,
ol,
ul {
	padding: 0;
	margin: 0;
}

/* main { 
	display: block;  
}
h1,
h2,
h3,
h4 {
	font-size: inherit;
} */

a,
button {
	color: inherit;
	transition: .3s;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	border: 0;
	height: auto; 
	/*display: block; (cause Img is inlin block)*/
}

 #header {
    background-color:rgb(252, 252, 250);
    padding:25px 0 0 0;
    min-height: 100%;
    margin: 0 auto -30px;
 }
 .footer,
 .push {
    height: 30px;
 }
 #clearfix {
    position: relative;
    text-transform: uppercase;
    padding: 12px 20px;
    background-color: rgb(231, 229, 229);
    color: rgb(131, 161, 31);
    font-size: 11px;
    letter-spacing: .08em;
    font-weight: 500;
    margin: 40px 0 30px 0;  
 }

/* .clearfix {
    position: absolute;
    bottom: 0;
    width: 100%;
} */
.copyright {
    float: left;
  }
.message {
    float: right;
  }
#clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
  }

