#header {
  width: 80%;
  margin: 5px auto;
  color: rgb(143, 177, 49);
}
// .nav-list {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }
.nav {
  display: flex;
  flex-direction: row;
  color: rgb(54, 53, 53);
}
.nav-item {
  padding: 15px 15px 0 0;
}
#list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 5px auto;
}
.table-container {
  width: 100%;
  text-align: left;
  margin-bottom: 25px;
  color: rgb(95, 93, 93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#list-table {
  width: 100%;
  margin: 16px 300px;
}
#tickets_table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}
tr th {
  background-color: rgb(185, 209, 114);
}
th,
td {
  position: relative;
  text-align: left;
  padding: 18px;
}

tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.priority-urgent {
  background-color: rgb(228, 101, 101);
}
.priority-high {
  background-color: rgb(250, 169, 76);
}
.priority-normal {
  background-color: rgb(204, 198, 115);
}
.priority-low {
  background-color: rgb(58, 159, 226);
}
tbody tr:hover {
  background-color: rgba(217, 236, 148, 0.5);
}
#id_data {
  font-size: 16px;
}
ul {
  list-style: none;
}
li {
  margin: 5px 4px 5px 4px;
}
.pagination-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding-right: 20px;
}
.total-tickets-count {
  margin-left: 9px;
  margin-right: 3px;
}
.start-end-index {
  color: rgb(43, 43, 43);
}
.pagination a {
  color: black;
  padding: 3px 15px 10px 10px;
  text-decoration: none;
  align-content: center;
}
.pagination a.active {
  border-radius: 5px;
  background-color: rgb(185, 209, 114);
  color: white;
}
.pagination a:hover:not(.active) {
  border-radius: 5px;
  background-color: rgb(218, 216, 216);
}
#body-show {
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin: 5px auto;
}
.ticket-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 5px auto;
}

.ticket-displayed {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 18px;
  color: dimgray;
  width: 100%;
  border: 1px solid lightgray;
  border-style: hidden;
  padding: 17px 12px;
}
.requester-info {
  font-size: 15px;
  margin: 5px 0;
}
.back-Btn {
  background-color: lightgray;
  font-size: 16px;
  border: 2px solid #e0dfdf;
  width: 18%;
  flex-wrap: nowrap;
  margin-left: 10px;
}
.back-Btn:hover {
  background-color: rgb(166, 197, 71);
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 13px;
  font-size: 18px;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 15px auto 15px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1.5px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

#breadcrumb {
  line-height: 30px;
  color: rgb(77, 75, 75);
  padding: 1px 0;
  border: 1px solid #f0f0f0;
  width: 60%;
  margin: 3px auto;
  a {
    display: block;
    float: left;
    background-color: rgb(231, 229, 229);
    padding-right: 10px;
    height: 30px;
    margin-right: 31px;
    position: relative;
    text-decoration: none;
    color: rgb(167, 159, 159);

    &:last-of-type {
      margin-right: 25px;
    }

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: -30px;
      border: 15px solid transparent;
      border-color: #f0f0f0;
      border-left-color: transparent;
    }

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: -30px;
      border: 15px solid transparent;
      border-left-color: #f0f0f0;
    }

    &:first-of-type {
      padding-left: 15px;

      &:before {
        display: none;
      }
    }

    &:hover {
      background: rgb(166, 197, 71);
      color: rgb(243, 239, 239);
      text-decoration: none;

      &:before {
        border-color: rgb(166, 197, 71);
        border-left-color: transparent;
      }

      &:after {
        border-left-color: rgb(166, 197, 71);
      }
    }
  }
}

.show-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border: solid 1px rgb(245, 238, 238);
  border-radius: 97%;
  text-align: center;
  color: white;
  font-size: 14px;
}
#pending-icon {
  background-color: rgb(84, 184, 139);
}
#open-icon {
  background-color: rgb(245, 134, 131);
}
#new-icon {
  background-color: rgb(59, 118, 170);
}
#solved-icon {
  background-color: rgb(160, 158, 158);
}
#closed-icon {
  background-color: rgb(148, 111, 11);
}
#priority-Data,
#status_data {
  width: 8px;
}

.show-link {
  margin-left: 10px;
}
.error_message_header {
  font-size: 35px;
  color: darkgray;
}
.error_message {
  font-size: 30px;
  color: darkgray;
}

/* A Responsive Mobile Version */
@media only screen and (max-width: 66.9em) {
  thead th.optional_display,
  tbody tr td.optional_display {
    display: none;
  }
  th,
  td {
    padding: 23px;
  }
  #priority-Data {
    width: 10px;
  }
}

.error-container {
  position: relative;
  text-align: center;
  font-size: 25px;
  width: 80%;
  height: 700px;
  margin: 0 auto;
  // padding: 25px 25px;
}
.error_message {
  position: absolute;
  top: 38px;
  left: 36px;
}
