  
    <div class="pagination">       
        <% @page_num = 1 %>
            <%= link_to({:controller => "tickets", :action => "index", :sort_by => @sort_by, :page => @page_num, remote:true},{class:"page-link"}) do %>&laquo;<% end %>
            <% until @page_num > @num_of_pages do %>
    
                <% if @page_num == @page %> 
                    <%= link_to({:controller => "tickets", :action => "index", :sort_by => @sort_by, :page => @page_num, remote:true},{class:"active page-link"}) do %><%= @page_num %><% end %>
                <% else %> 
                    <%= link_to({:controller => "tickets", :action => "index", :sort_by => @sort_by, :page => @page_num, remote:true},{class:"page-link"}) do %><%= @page_num %><% end %>
                <% end %>
                <% @page_num += 1 %>
            <% end %>
        <%= link_to({:controller => "tickets", :action => "index", :sort_by => @sort_by, :page => @num_of_pages, remote:true},{class:"page-link"}) do %>&raquo;<% end %>             
    </div>
    <div>
        <p class="total-page-show"><span class="start-end-index"><b><%= @current_page_start_index %> - <%= @current_page_end_index %></b></span><span class="total-tickets-count">of total</span><b><%= @tickets_count %></b></p>
    </div>



