<div class="status_filter">
    <p>Filter by: </p>
    <button class="filterBtn">
     <%= link_to({:controller => "tickets", :action => "index", :status_filter => "open",  remote:true},{class:"page-link"}) do %>open<% end %></button>
                  <button class="filterBtn">  <%= link_to({:controller => "tickets", :action => "index", :status_filter => "pending",  remote:true},{class:"page-link"}) do %>pending<% end %></button>
                   <button class="filterBtn"> <%= link_to({:controller => "tickets", :action => "index", :status_filter => "solved",  remote:true},{class:"page-link"}) do %>solved<% end %></button>
                   <button class="filterBtn"> <%= link_to({:controller => "tickets", :action => "index", :status_filter => "new",  remote:true},{class:"page-link"}) do %>new<% end %></button>
                   <button class="filterBtn"> <%= link_to({:controller => "tickets", :action => "index", :status_filter => "closed",  remote:true},{class:"page-link"}) do %>closed<% end %></button>
                    
    </div>