<!DOCTYPE html>
<html>
  <head>
    <title>ZendeskTicketViewer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>
  <body>
      <div id="header"> 
        <h1>Zendesk Ticket Viewer</h1>
        <div class="nav-list">
            <div class="nav">
                <div class="nav-item"><a href="/tickets">Tickets List</div>
                <div class="nav-item"><a href="/users">Users List</div>
            </div>
    </div>
        <div class="push"></div>
      </div>

    <%= yield %> 

    
      <footer class="footer" id="clearfix">
        <p class="copyright">Copyright 2018</p>
        <p class="message">Created by <span class="name">Sherry</span></p>
      </footer>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    
  </body>
</html>
